In [1]:
import pandas as pd

### Main IMDB Dataset of All Movies ###

In [3]:
# load, read imdb titles tsv file to pandas dataframe and assign to a variable
imdb = pd.read_csv('imdbtitle_akas.tsv', delimiter='\t', dtype=str)

In [5]:
imdb.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
1,tt0000001,2,Καρμενσίτα,GR,\N,\N,\N,0
2,tt0000001,3,Карменсита,RU,\N,\N,\N,0
3,tt0000001,4,Carmencita,US,\N,\N,\N,0
4,tt0000001,5,Carmencita,\N,\N,original,\N,1

In [6]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3645877 entries, 0 to 3645876
Data columns (total 8 columns):
titleId            object
ordering           object
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtypes: object(8)
memory usage: 222.5+ MB

In [6]:
# drop duplicates in dataframe based on titleid
imdb_nodup = imdb.drop_duplicates(subset=['titleId'])
imdb_nodup.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
5,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
11,tt0000003,1,Sarmanul Pierrot,RO,\N,imdbDisplay,\N,0
17,tt0000004,1,Un bon bock,\N,\N,original,\N,1
23,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0

In [8]:
imdb_nodup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2072736 entries, 0 to 3645875
Data columns (total 8 columns):
titleId            object
ordering           object
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtypes: object(8)
memory usage: 142.3+ MB

In [7]:
# remove unneeded columns from dataframe
imdb_reduced = imdb_nodup.drop(['isOriginalTitle', 'attributes', 'language', 'ordering', 'types'], axis=1)
imdb_reduced.head()

      titleId                      title region
0   tt0000001  Carmencita - spanyol tánc     HU
5   tt0000002     Le clown et ses chiens     \N
11  tt0000003           Sarmanul Pierrot     RO
17  tt0000004                Un bon bock     \N
23  tt0000005        Blacksmithing Scene     US

In [8]:
# rename titleID column
imdb_reduced = imdb_reduced.rename(columns = {'titleId':'tconst'})

In [53]:
imdb_reduced.head()

       tconst                      title region
0   tt0000001  Carmencita - spanyol tánc     HU
5   tt0000002     Le clown et ses chiens     \N
11  tt0000003           Sarmanul Pierrot     RO
17  tt0000004                Un bon bock     \N
23  tt0000005        Blacksmithing Scene     US

In [49]:
# only movies with region noted as US
imdb_us = imdb_reduced[imdb_nodup['region'] == 'US']

In [50]:
imdb_us.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 771709 entries, 23 to 3645859
Data columns (total 3 columns):
titleId    771709 non-null object
title      771709 non-null object
region     771709 non-null object
dtypes: object(3)
memory usage: 23.6+ MB

In [32]:
# list of IMDB movie titleID - US only
imdb_us_titleID = imdb_reduced['titleId'].values.tolist()

In [33]:
imdb_us_titleID[:10]

['tt0000001',
 'tt0000002',
 'tt0000003',
 'tt0000004',
 'tt0000005',
 'tt0000006',
 'tt0000007',
 'tt0000008',
 'tt0000009',
 'tt0000010']

In [34]:
# list of IMDB movie titleid
imdb_titleID = imdb_reduced['titleId'].values.tolist()

In [35]:
imdb_titleID[:10]

['tt0000001',
 'tt0000002',
 'tt0000003',
 'tt0000004',
 'tt0000005',
 'tt0000006',
 'tt0000007',
 'tt0000008',
 'tt0000009',
 'tt0000010']

### IMDB Dataset of Movie Ratings ###

In [9]:
# load and read imdb ratings file into a pandas dataframe and assign to a variable
imdb_ratings = pd.read_csv('./imdbtitle_ratings.tsv', delimiter='\t')

In [18]:
imdb_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.8      1482
1  tt0000002            6.4       177
2  tt0000003            6.6      1112
3  tt0000004            6.5       108
4  tt0000005            6.2      1816

In [19]:
imdb_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 919378 entries, 0 to 919377
Data columns (total 3 columns):
tconst           919378 non-null object
averageRating    919378 non-null float64
numVotes         919378 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 21.0+ MB

### IMDB Dataset of Movie Genres ###

In [10]:
# load and read imdb basic movie info dataset into pandas database and assign to a variable
imdb_genres = pd.read_csv('./imdbtitle_basics.tsv', delimiter='\t')

In [21]:
imdb_genres.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [41]:
imdb_genres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5743271 entries, 0 to 5743270
Data columns (total 9 columns):
tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           int64
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtypes: int64(1), object(8)
memory usage: 394.4+ MB

In [11]:
# drop unneeded columns from dataframe
genres_reduced = imdb_genres.drop(['titleType', 'originalTitle', 'isAdult', 'endYear', 'runtimeMinutes'], axis=1)

In [44]:
genres_reduced.head()

      tconst            primaryTitle startYear                    genres
0  tt0000001              Carmencita      1894         Documentary,Short
1  tt0000002  Le clown et ses chiens      1892           Animation,Short
2  tt0000003          Pauvre Pierrot      1892  Animation,Comedy,Romance
3  tt0000004             Un bon bock      1892           Animation,Short
4  tt0000005        Blacksmith Scene      1893              Comedy,Short

In [20]:
genres_reduced.tail()

            tconst   primaryTitle startYear          genres
5743266  tt9916888  Episode #1.55      2016  Comedy,Romance
5743267  tt9916890  Episode #1.56      2016  Comedy,Romance
5743268  tt9916892  Episode #1.57      2016  Comedy,Romance
5743269  tt9916894  Episode #1.58      2016  Comedy,Romance
5743270  tt9916896  Episode #1.59      2016  Comedy,Romance

### IMDB Dataset of Directors for Each Movie ###

In [23]:
# load and read imdb information of directors to movie titles into pandas dataframe and assign to a variable
imdb_crew = pd.read_csv('./imdbtitle_crew.tsv', delimiter='\t')

In [24]:
imdb_crew.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [26]:
imdb_crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5743271 entries, 0 to 5743270
Data columns (total 3 columns):
tconst       object
directors    object
writers      object
dtypes: object(3)
memory usage: 131.5+ MB

In [28]:
# drop writers column from dataframe
imdbmov_directors = imdb_crew.drop(['writers'], axis=1)

In [33]:
# rename directors column in dataframe
directors = imdbmov_directors.rename(columns={'directors': 'nconst'})

### IMDB Dataset of Actors and Directors Details ###

In [24]:
# load and read imdb dataset of actors and directors details to pandas dataframe and assign to variable
imdb_team = pd.read_csv('./imdbname_basics.tsv', delimiter='\t')

In [36]:
imdb_team.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0043044,tt0072308,tt0053137,tt0050419"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0117057,tt0071877,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0059956,tt0049189,tt0057345,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0080455,tt0078723,tt0072562,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0083922,tt0069467"

In [37]:
imdb_team.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9220668 entries, 0 to 9220667
Data columns (total 6 columns):
nconst               object
primaryName          object
birthYear            object
deathYear            object
primaryProfession    object
knownForTitles       object
dtypes: object(6)
memory usage: 422.1+ MB

In [26]:
# drop unneeded columns from dataframe
imdbteam_names = imdb_team.drop(['birthYear', 'deathYear', 'primaryProfession', 'knownForTitles'], axis=1)

In [27]:
imdbteam_names.head()

      nconst      primaryName
0  nm0000001     Fred Astaire
1  nm0000002    Lauren Bacall
2  nm0000003  Brigitte Bardot
3  nm0000004     John Belushi
4  nm0000005   Ingmar Bergman

### Join IMDB Datasets ###

In [16]:
# merge the dataframe with titles, year, genre to dataframe with ratings, number of votes
imdbtitles_ratings_genres = genres_reduced.merge(imdb_ratings, on='tconst')

In [17]:
imdbtitles_ratings_genres.head()

,tconst,primaryTitle,startYear,genres,averageRating,numVotes
0,tt0000001,Carmencita,1894,"Documentary,Short",5.8,1482
1,tt0000002,Le clown et ses chiens,1892,"Animation,Short",6.4,177
2,tt0000003,Pauvre Pierrot,1892,"Animation,Comedy,Romance",6.6,1112
3,tt0000004,Un bon bock,1892,"Animation,Short",6.5,108
4,tt0000005,Blacksmith Scene,1893,"Comedy,Short",6.2,1816

In [18]:
imdbtitles_ratings_genres.tail()

,tconst,primaryTitle,startYear,genres,averageRating,numVotes
919373,tt9915910,Episode #1.34,2019,"Comedy,Romance",8.3,22
919374,tt9916192,Danielle Darrieux: Il est poli d'être gai!,2019,Biography,7.8,5
919375,tt9916380,Meie aasta Aafrikas,2019,"Adventure,Comedy,Family",9.8,56
919376,tt9916460,Pink Taxi,2019,Comedy,9.2,12
919377,tt9916720,The Nun 2,2019,"Horror,Short",5.1,10

In [19]:
imdbtitles_ratings_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919378 entries, 0 to 919377
Data columns (total 6 columns):
tconst           919378 non-null object
primaryTitle     919378 non-null object
startYear        919378 non-null object
genres           919378 non-null object
averageRating    919378 non-null float64
numVotes         919378 non-null int64
dtypes: float64(1), int64(1), object(4)
memory usage: 49.1+ MB

In [21]:
imdbtitles_ratings_genres.isnull().values.any()

False

In [22]:
imdbtitles_ratings_genres.duplicated().any()

False

In [37]:
# merge dataframe with connection between movie title with director ID and dataframe with director names
imdb_directors = directors.merge(imdbteam_names, on='nconst', how='left')

In [39]:
imdb_directors.head()

      tconst     nconst           primaryName
0  tt0000001  nm0005690  William K.L. Dickson
1  tt0000002  nm0721526         Émile Reynaud
2  tt0000003  nm0721526         Émile Reynaud
3  tt0000004  nm0721526         Émile Reynaud
4  tt0000005  nm0005690  William K.L. Dickson

In [40]:
imdb_directors.tail()

            tconst     nconst   primaryName
5743266  tt9916888  nm1941705  Bahadir Ince
5743267  tt9916890  nm1941705  Bahadir Ince
5743268  tt9916892  nm1941705  Bahadir Ince
5743269  tt9916894  nm1941705  Bahadir Ince
5743270  tt9916896  nm1941705  Bahadir Ince

In [41]:
imdb_directors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5743271 entries, 0 to 5743270
Data columns (total 3 columns):
tconst         object
nconst         object
primaryName    object
dtypes: object(3)
memory usage: 175.3+ MB

In [42]:
# merge the database with titles, year, ratings to database with director information
imdb_all = imdbtitles_ratings_genres.merge(imdb_directors, on='tconst', how='left')

In [43]:
imdb_all.head()

,tconst,primaryTitle,startYear,genres,averageRating,numVotes,nconst,primaryName
0,tt0000001,Carmencita,1894,"Documentary,Short",5.8,1482,nm0005690,William K.L. Dickson
1,tt0000002,Le clown et ses chiens,1892,"Animation,Short",6.4,177,nm0721526,Émile Reynaud
2,tt0000003,Pauvre Pierrot,1892,"Animation,Comedy,Romance",6.6,1112,nm0721526,Émile Reynaud
3,tt0000004,Un bon bock,1892,"Animation,Short",6.5,108,nm0721526,Émile Reynaud
4,tt0000005,Blacksmith Scene,1893,"Comedy,Short",6.2,1816,nm0005690,William K.L. Dickson

In [44]:
# rename columns in the dataframe
imdb_all = imdb_all.rename(columns = {'tconst':'movie_ID', 'primaryTitle':'movie_title', 'startYear':'year', 'averageRating':'avg_rating', 'nconst':'directorID', 'primaryName':'director_name'})

In [45]:
imdb_all.head()

,movie_ID,movie_title,year,genres,avg_rating,numVotes,directorID,director_name
0,tt0000001,Carmencita,1894,"Documentary,Short",5.8,1482,nm0005690,William K.L. Dickson
1,tt0000002,Le clown et ses chiens,1892,"Animation,Short",6.4,177,nm0721526,Émile Reynaud
2,tt0000003,Pauvre Pierrot,1892,"Animation,Comedy,Romance",6.6,1112,nm0721526,Émile Reynaud
3,tt0000004,Un bon bock,1892,"Animation,Short",6.5,108,nm0721526,Émile Reynaud
4,tt0000005,Blacksmith Scene,1893,"Comedy,Short",6.2,1816,nm0005690,William K.L. Dickson

In [46]:
imdb_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919378 entries, 0 to 919377
Data columns (total 8 columns):
movie_ID         919378 non-null object
movie_title      919378 non-null object
year             919378 non-null object
genres           919378 non-null object
avg_rating       919378 non-null float64
numVotes         919378 non-null int64
directorID       919378 non-null object
director_name    688421 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 63.1+ MB

In [47]:
imdb_all.tail()

,movie_ID,movie_title,year,genres,avg_rating,numVotes,directorID,director_name
919373,tt9915910,Episode #1.34,2019,"Comedy,Romance",8.3,22,nm6393161,Cagri Bayrak
919374,tt9916192,Danielle Darrieux: Il est poli d'être gai!,2019,Biography,7.8,5,nm2144818,Pierre-Henri Gibert
919375,tt9916380,Meie aasta Aafrikas,2019,"Adventure,Comedy,Family",9.8,56,nm1857733,Asko Kase
919376,tt9916460,Pink Taxi,2019,Comedy,9.2,12,nm7048843,Gabriel Athanasiou
919377,tt9916720,The Nun 2,2019,"Horror,Short",5.1,10,nm10538600,Niclas Schmidt

In [48]:
# check for null values
imdb_all.isnull().any()

movie_ID         False
movie_title      False
year             False
genres           False
avg_rating       False
numVotes         False
directorID       False
director_name     True
dtype: bool

In [50]:
# if there are null values, check for number of null values
imdb_all.isnull().sum()

movie_ID              0
movie_title           0
year                  0
genres                0
avg_rating            0
numVotes              0
directorID            0
director_name    230957
dtype: int64