In [2]:
import pandas as pd
import Full_Code

### Main IMDB Dataset of All Movies ###

In [3]:
# load, read imdb titles tsv file to pandas dataframe and assign to a variable
imdb = pd.read_csv('imdbtitle_akas.tsv', delimiter='\t', dtype=str)

In [5]:
imdb.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
1,tt0000001,2,Καρμενσίτα,GR,\N,\N,\N,0
2,tt0000001,3,Карменсита,RU,\N,\N,\N,0
3,tt0000001,4,Carmencita,US,\N,\N,\N,0
4,tt0000001,5,Carmencita,\N,\N,original,\N,1

In [6]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3645877 entries, 0 to 3645876
Data columns (total 8 columns):
titleId            object
ordering           object
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtypes: object(8)
memory usage: 222.5+ MB

In [4]:
# drop duplicates in dataframe based on titleid
imdb_nodup = imdb.drop_duplicates(subset=['titleId'])
imdb_nodup.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
5,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
11,tt0000003,1,Sarmanul Pierrot,RO,\N,imdbDisplay,\N,0
17,tt0000004,1,Un bon bock,\N,\N,original,\N,1
23,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0

In [8]:
imdb_nodup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2072736 entries, 0 to 3645875
Data columns (total 8 columns):
titleId            object
ordering           object
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtypes: object(8)
memory usage: 142.3+ MB

In [5]:
# remove unneeded columns from dataframe
imdb_reduced = imdb_nodup.drop(['isOriginalTitle', 'attributes', 'language', 'ordering', 'types'], axis=1)
imdb_reduced.head()

      titleId                      title region
0   tt0000001  Carmencita - spanyol tánc     HU
5   tt0000002     Le clown et ses chiens     \N
11  tt0000003           Sarmanul Pierrot     RO
17  tt0000004                Un bon bock     \N
23  tt0000005        Blacksmithing Scene     US

In [6]:
# rename titleID column
imdb_reduced = imdb_reduced.rename(columns = {'titleId':'tconst'})

In [53]:
imdb_reduced.head()

       tconst                      title region
0   tt0000001  Carmencita - spanyol tánc     HU
5   tt0000002     Le clown et ses chiens     \N
11  tt0000003           Sarmanul Pierrot     RO
17  tt0000004                Un bon bock     \N
23  tt0000005        Blacksmithing Scene     US

In [7]:
# only movies with region noted as US
imdb_us = imdb_reduced[imdb_nodup['region'] == 'US']

In [50]:
imdb_us.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 771709 entries, 23 to 3645859
Data columns (total 3 columns):
titleId    771709 non-null object
title      771709 non-null object
region     771709 non-null object
dtypes: object(3)
memory usage: 23.6+ MB

In [8]:
# list of IMDB movie titleID - US only
imdb_us_titleID = imdb_reduced['tconst'].values.tolist()

In [14]:
imdb_us_titleID[:10]

['tt0000001',
 'tt0000002',
 'tt0000003',
 'tt0000004',
 'tt0000005',
 'tt0000006',
 'tt0000007',
 'tt0000008',
 'tt0000009',
 'tt0000010']

In [9]:
# list of IMDB movie titleid
imdb_titleID = imdb_reduced['tconst'].values.tolist()

In [16]:
imdb_titleID[:10]

['tt0000001',
 'tt0000002',
 'tt0000003',
 'tt0000004',
 'tt0000005',
 'tt0000006',
 'tt0000007',
 'tt0000008',
 'tt0000009',
 'tt0000010']

### IMDB Dataset of Movie Ratings ###

In [10]:
# load and read imdb ratings file into a pandas dataframe and assign to a variable
imdb_ratings = pd.read_csv('./imdbtitle_ratings.tsv', delimiter='\t')

In [18]:
imdb_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.8      1482
1  tt0000002            6.4       177
2  tt0000003            6.6      1112
3  tt0000004            6.5       108
4  tt0000005            6.2      1816

In [19]:
imdb_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 919378 entries, 0 to 919377
Data columns (total 3 columns):
tconst           919378 non-null object
averageRating    919378 non-null float64
numVotes         919378 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 21.0+ MB

### IMDB Dataset of Movie Genres ###

In [11]:
# load and read imdb basic movie info dataset into pandas database and assign to a variable
imdb_genres = pd.read_csv('./imdbtitle_basics.tsv', delimiter='\t')

In [21]:
imdb_genres.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [41]:
imdb_genres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5743271 entries, 0 to 5743270
Data columns (total 9 columns):
tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           int64
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtypes: int64(1), object(8)
memory usage: 394.4+ MB

In [12]:
# drop unneeded columns from dataframe
genres_reduced = imdb_genres.drop(['titleType', 'originalTitle', 'isAdult', 'endYear', 'runtimeMinutes'], axis=1)

In [44]:
genres_reduced.head()

      tconst            primaryTitle startYear                    genres
0  tt0000001              Carmencita      1894         Documentary,Short
1  tt0000002  Le clown et ses chiens      1892           Animation,Short
2  tt0000003          Pauvre Pierrot      1892  Animation,Comedy,Romance
3  tt0000004             Un bon bock      1892           Animation,Short
4  tt0000005        Blacksmith Scene      1893              Comedy,Short

In [20]:
genres_reduced.tail()

            tconst   primaryTitle startYear          genres
5743266  tt9916888  Episode #1.55      2016  Comedy,Romance
5743267  tt9916890  Episode #1.56      2016  Comedy,Romance
5743268  tt9916892  Episode #1.57      2016  Comedy,Romance
5743269  tt9916894  Episode #1.58      2016  Comedy,Romance
5743270  tt9916896  Episode #1.59      2016  Comedy,Romance

### IMDB Dataset of Directors for Each Movie ###

In [13]:
# load and read imdb information of directors to movie titles into pandas dataframe and assign to a variable
imdb_crew = pd.read_csv('./imdbtitle_crew.tsv', delimiter='\t')

In [24]:
imdb_crew.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [26]:
imdb_crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5743271 entries, 0 to 5743270
Data columns (total 3 columns):
tconst       object
directors    object
writers      object
dtypes: object(3)
memory usage: 131.5+ MB

In [14]:
# drop writers column from dataframe
imdbmov_directors = imdb_crew.drop(['writers'], axis=1)

In [15]:
# rename directors column in dataframe
directors = imdbmov_directors.rename(columns={'directors': 'nconst'})

### IMDB Dataset of Actors and Directors Details ###

In [16]:
# load and read imdb dataset of actors and directors details to pandas dataframe and assign to variable
imdb_team = pd.read_csv('./imdbname_basics.tsv', delimiter='\t')

In [36]:
imdb_team.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0043044,tt0072308,tt0053137,tt0050419"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0117057,tt0071877,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0059956,tt0049189,tt0057345,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0080455,tt0078723,tt0072562,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0083922,tt0069467"

In [37]:
imdb_team.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9220668 entries, 0 to 9220667
Data columns (total 6 columns):
nconst               object
primaryName          object
birthYear            object
deathYear            object
primaryProfession    object
knownForTitles       object
dtypes: object(6)
memory usage: 422.1+ MB

In [17]:
# drop unneeded columns from dataframe
imdbteam_names = imdb_team.drop(['birthYear', 'deathYear', 'primaryProfession', 'knownForTitles'], axis=1)

In [27]:
imdbteam_names.head()

      nconst      primaryName
0  nm0000001     Fred Astaire
1  nm0000002    Lauren Bacall
2  nm0000003  Brigitte Bardot
3  nm0000004     John Belushi
4  nm0000005   Ingmar Bergman

### Join IMDB Datasets ###

In [18]:
# merge the dataframe with titles, year, genre to dataframe with ratings, number of votes
imdbtitles_ratings_genres = genres_reduced.merge(imdb_ratings, on='tconst')

In [17]:
imdbtitles_ratings_genres.head()

,tconst,primaryTitle,startYear,genres,averageRating,numVotes
0,tt0000001,Carmencita,1894,"Documentary,Short",5.8,1482
1,tt0000002,Le clown et ses chiens,1892,"Animation,Short",6.4,177
2,tt0000003,Pauvre Pierrot,1892,"Animation,Comedy,Romance",6.6,1112
3,tt0000004,Un bon bock,1892,"Animation,Short",6.5,108
4,tt0000005,Blacksmith Scene,1893,"Comedy,Short",6.2,1816

In [18]:
imdbtitles_ratings_genres.tail()

,tconst,primaryTitle,startYear,genres,averageRating,numVotes
919373,tt9915910,Episode #1.34,2019,"Comedy,Romance",8.3,22
919374,tt9916192,Danielle Darrieux: Il est poli d'être gai!,2019,Biography,7.8,5
919375,tt9916380,Meie aasta Aafrikas,2019,"Adventure,Comedy,Family",9.8,56
919376,tt9916460,Pink Taxi,2019,Comedy,9.2,12
919377,tt9916720,The Nun 2,2019,"Horror,Short",5.1,10

In [19]:
imdbtitles_ratings_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919378 entries, 0 to 919377
Data columns (total 6 columns):
tconst           919378 non-null object
primaryTitle     919378 non-null object
startYear        919378 non-null object
genres           919378 non-null object
averageRating    919378 non-null float64
numVotes         919378 non-null int64
dtypes: float64(1), int64(1), object(4)
memory usage: 49.1+ MB

In [21]:
imdbtitles_ratings_genres.isnull().values.any()

False

In [22]:
imdbtitles_ratings_genres.duplicated().any()

False

In [19]:
# merge dataframe with connection between movie title with director ID and dataframe with director names
imdb_directors = directors.merge(imdbteam_names, on='nconst', how='left')

In [39]:
imdb_directors.head()

      tconst     nconst           primaryName
0  tt0000001  nm0005690  William K.L. Dickson
1  tt0000002  nm0721526         Émile Reynaud
2  tt0000003  nm0721526         Émile Reynaud
3  tt0000004  nm0721526         Émile Reynaud
4  tt0000005  nm0005690  William K.L. Dickson

In [40]:
imdb_directors.tail()

            tconst     nconst   primaryName
5743266  tt9916888  nm1941705  Bahadir Ince
5743267  tt9916890  nm1941705  Bahadir Ince
5743268  tt9916892  nm1941705  Bahadir Ince
5743269  tt9916894  nm1941705  Bahadir Ince
5743270  tt9916896  nm1941705  Bahadir Ince

In [41]:
imdb_directors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5743271 entries, 0 to 5743270
Data columns (total 3 columns):
tconst         object
nconst         object
primaryName    object
dtypes: object(3)
memory usage: 175.3+ MB

In [20]:
# merge the database with titles, year, ratings to database with director information
imdb_all = imdbtitles_ratings_genres.merge(imdb_directors, on='tconst', how='left')

In [50]:
# write imdb_all dataframe to csv file
imdb_all.to_csv('imdb_data.csv')

In [21]:
# rename columns in the dataframe
imdb_all = imdb_all.rename(columns = {'tconst':'movie_ID', 'primaryTitle':'movie_title', 'startYear':'year', 'averageRating':'avg_rating', 'nconst':'directorID', 'primaryName':'director_name'})

In [45]:
imdb_all.head()

,movie_ID,movie_title,year,genres,avg_rating,numVotes,directorID,director_name
0,tt0000001,Carmencita,1894,"Documentary,Short",5.8,1482,nm0005690,William K.L. Dickson
1,tt0000002,Le clown et ses chiens,1892,"Animation,Short",6.4,177,nm0721526,Émile Reynaud
2,tt0000003,Pauvre Pierrot,1892,"Animation,Comedy,Romance",6.6,1112,nm0721526,Émile Reynaud
3,tt0000004,Un bon bock,1892,"Animation,Short",6.5,108,nm0721526,Émile Reynaud
4,tt0000005,Blacksmith Scene,1893,"Comedy,Short",6.2,1816,nm0005690,William K.L. Dickson

In [46]:
imdb_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919378 entries, 0 to 919377
Data columns (total 8 columns):
movie_ID         919378 non-null object
movie_title      919378 non-null object
year             919378 non-null object
genres           919378 non-null object
avg_rating       919378 non-null float64
numVotes         919378 non-null int64
directorID       919378 non-null object
director_name    688421 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 63.1+ MB

In [47]:
imdb_all.tail()

,movie_ID,movie_title,year,genres,avg_rating,numVotes,directorID,director_name
919373,tt9915910,Episode #1.34,2019,"Comedy,Romance",8.3,22,nm6393161,Cagri Bayrak
919374,tt9916192,Danielle Darrieux: Il est poli d'être gai!,2019,Biography,7.8,5,nm2144818,Pierre-Henri Gibert
919375,tt9916380,Meie aasta Aafrikas,2019,"Adventure,Comedy,Family",9.8,56,nm1857733,Asko Kase
919376,tt9916460,Pink Taxi,2019,Comedy,9.2,12,nm7048843,Gabriel Athanasiou
919377,tt9916720,The Nun 2,2019,"Horror,Short",5.1,10,nm10538600,Niclas Schmidt

In [48]:
# check for null values
imdb_all.isnull().any()

movie_ID         False
movie_title      False
year             False
genres           False
avg_rating       False
numVotes         False
directorID       False
director_name     True
dtype: bool

In [63]:
# if there are null values, check for number of null values
print(imdb_all.isnull())

        movie_ID  movie_title   year  genres  avg_rating  numVotes  \
0          False        False  False   False       False     False
1          False        False  False   False       False     False
2          False        False  False   False       False     False
3          False        False  False   False       False     False
4          False        False  False   False       False     False
5          False        False  False   False       False     False
6          False        False  False   False       False     False
7          False        False  False   False       False     False
8          False        False  False   False       False     False
9          False        False  False   False       False     False
10         False        False  False   False       False     False
11         False        False  False   False       False     False
12         False        False  False   False       False     False
13         False        False  False   False       False     False
14         False        False  False   False       False     False
15         False        False  False   False       False     False
16         False        False  False   False       False     False
17         False        False  False   False       False     False
18         False        False  False   False       False     False
19         False        False  False   False       False     False
20         False        False  False   False       False     False
21         False        False  False   False       False     False
22         False        False  False   False       False     False
23         False        False  False   False       False     False
24         False        False  False   False       False     False
25         False        False  False   False       False     False
26         False        False  False   False       False     False
27         False        False  False   False       False     False
28         False        False  False   False       False     False
29         False        False  False   False       False     False
...          ...          ...    ...     ...         ...       ...
919348     False        False  False   False       False     False
919349     False        False  False   False       False     False
919350     False        False  False   False       False     False
919351     False        False  False   False       False     False
919352     False        False  False   False       False     False
919353     False        False  False   False       False     False
919354     False        False  False   False       False     False
919355     False        False  False   False       False     False
919356     False        False  False   False       False     False
919357     False        False  False   False       False     False
919358     False        False  False   False       False     False
919359     False        False  False   False       False     False
919360     False        False  False   False       False     False
919361     False        False  False   False       False     False
919362     False        False  False   False       False     False
919363     False        False  False   False       False     False
919364     False        False  False   False       False     False
919365     False        False  False   False       False     False
919366     False        False  False   False       False     False
919367     False        False  False   False       False     False
919368     False        False  False   False       False     False
919369     False        False  False   False       False     False
919370     False        False  False   False       False     False
919371     False        False  False   False       False     False
919372     False        False  False   False       False     False
919373     False        False  False   False       False     False
919374     False        False  False   False       False     False
919375     False        False  False   False       False     False
919376     False        False  False   False       False     False
919377     False        False  False   False       False     False

        directorID  director_name
0            False          False
1            False          False
2            False          False
3            False          False
4            False          False
5            False          False
6            False           True
7            False          False
8            False          False
9            False          False
10           False          False
11           False           True
12           False          False
13           False          False
14           False          False
15           False          False
16           False           True
17           False          False
18           False          False
19           False          False
20           False          False
21           False          False
22           False          False
23           False          False
24           False          False
25           False          False
26           False          False
27           False          False
28           False           True
29           False          False
...            ...            ...
919348       False           True
919349       False           True
919350       False           True
919351       False           True
919352       False           True
919353       False          False
919354       False          False
919355       False           True
919356       False          False
919357       False           True
919358       False           True
919359       False           True
919360       False           True
919361       False           True
919362       False          False
919363       False          False
919364       False           True
919365       False          False
919366       False          False
919367       False          False
919368       False           True
919369       False          False
919370       False          False
919371       False           True
919372       False           True
919373       False          False
919374       False          False
919375       False          False
919376       False          False
919377       False          False

[919378 rows x 8 columns]

### Comparison of IMDB Data and Rotten Tomatoes Data ###

In [22]:
# load Rotten Tomatoes data from separate file
df = Full_Code.df
df.head()

                                Movie Title Review  Number of RT Reviews  Year
0                               Chicken Run    97%                   171  2000
1  The Taste of Others (Le goût des autres)   100%                    58  2000
2      The Life and Times of Hank Greenberg    97%                    65  2000
3                                     Yi Yi    96%                    83  2000
4                       You Can Count On Me    95%                   103  2000

In [51]:
# write Rotten Tomatoes dataframe to csv file
df.to_csv('rotten_tomatoes.csv')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1900 entries, 0 to 1899
Data columns (total 4 columns):
Movie Title             1900 non-null object
Review                  1900 non-null object
Number of RT Reviews    1900 non-null int64
Year                    1900 non-null object
dtypes: int64(1), object(3)
memory usage: 59.5+ KB

In [43]:
# merge the IMDB dataset with Rotten Tomatoes dataset to filter out values to top movies according to Rotten Tomatoes
top_movies = df.merge(imdb_all, left_on=['Movie Title','Year'], right_on=['movie_title','year'], how='left')

In [52]:
# write merged file to csv
top_movies.to_csv('imdb_RT.csv')

In [37]:
top_movies.head()

,movie_ID,movie_title,year,genres,avg_rating,numVotes,directorID,director_name,Movie Title,Review,Number of RT Reviews,Year
0,tt0120202,State and Main,2000,"Comedy,Drama",6.8,19465,nm0000519,David Mamet,State and Main,86%,116,2000
1,tt0120630,Chicken Run,2000,"Adventure,Animation,Comedy",7.0,162266,"nm0520485,nm0661910",NaN,Chicken Run,97%,171,2000
2,tt0276856,Chicken Run,2000,"Action,Comedy,Family",6.7,120,\N,NaN,Chicken Run,97%,171,2000
3,tt0120679,Frida,2002,"Biography,Drama,Romance",7.4,73885,nm0853380,Julie Taymor,Frida,75%,153,2002
4,tt0120737,The Lord of the Rings: The Fellowship of the Ring,2001,"Adventure,Drama,Fantasy",8.8,1488241,nm0001392,Peter Jackson,The Lord of the Rings: The Fellowship of the Ring,91%,228,2001

In [44]:
top_movies.tail()

,Movie Title,Review,Number of RT Reviews,Year,movie_ID,movie_title,year,genres,avg_rating,numVotes,directorID,director_name
2281,Creed II,84%,271,2018,tt9296152,Creed II,2018,"Comedy,Talk-Show",6.2,12.0,nm5741914,Chris Stuckmann
2282,Dark Money,95%,41,2018,tt6633182,Dark Money,2018,Documentary,7.1,583.0,nm3141066,Kimberly Reed
2283,In Fabric,95%,40,2018,tt7464188,In Fabric,2018,"Comedy,Horror",7.0,530.0,nm3270827,Peter Strickland
2284,Teen Titans Go! To the Movies,91%,121,2018,tt7424200,Teen Titans Go! To the Movies,2018,"Action,Animation,Comedy",6.8,11386.0,"nm1739338,nm5715866",NaN
2285,The Guardians (Les Gardiennes),94%,54,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
top_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2286 entries, 0 to 2285
Data columns (total 12 columns):
Movie Title             2286 non-null object
Review                  2286 non-null object
Number of RT Reviews    2286 non-null int64
Year                    2286 non-null object
movie_ID                1495 non-null object
movie_title             1495 non-null object
year                    1495 non-null object
genres                  1495 non-null object
avg_rating              1495 non-null float64
numVotes                1495 non-null float64
directorID              1495 non-null object
director_name           1234 non-null object
dtypes: float64(2), int64(1), object(9)
memory usage: 232.2+ KB

In [43]:
top_movies1.head()

,Movie Title,Review,Number of RT Reviews,Year,movie_ID,movie_title,year,genres,avg_rating,numVotes,directorID,director_name
0,Chicken Run,97%,171,2000,tt0120630,Chicken Run,2000,"Adventure,Animation,Comedy",7.0,162266,"nm0520485,nm0661910",NaN
1,Chicken Run,97%,171,2000,tt0276856,Chicken Run,2000,"Action,Comedy,Family",6.7,120,\N,NaN
2,Yi Yi,96%,83,2000,tt0244316,Yi Yi,2000,"Drama,Romance",8.1,16786,nm0945981,Edward Yang
3,Memento,92%,172,2000,tt0209144,Memento,2000,"Mystery,Thriller",8.5,1019199,nm0634240,Christopher Nolan
4,Best in Show,94%,112,2000,tt0218839,Best in Show,2000,Comedy,7.5,50942,nm0001302,Christopher Guest

In [44]:
top_movies1.tail()

,Movie Title,Review,Number of RT Reviews,Year,movie_ID,movie_title,year,genres,avg_rating,numVotes,directorID,director_name
1490,Creed II,84%,271,2018,tt9287446,Creed II,2018,Talk-Show,8.6,25,\N,NaN
1491,Creed II,84%,271,2018,tt9296152,Creed II,2018,"Comedy,Talk-Show",6.2,12,nm5741914,Chris Stuckmann
1492,Dark Money,95%,41,2018,tt6633182,Dark Money,2018,Documentary,7.1,583,nm3141066,Kimberly Reed
1493,In Fabric,95%,40,2018,tt7464188,In Fabric,2018,"Comedy,Horror",7.0,530,nm3270827,Peter Strickland
1494,Teen Titans Go! To the Movies,91%,121,2018,tt7424200,Teen Titans Go! To the Movies,2018,"Action,Animation,Comedy",6.8,11386,"nm1739338,nm5715866",NaN

In [45]:
top_movies1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1495 entries, 0 to 1494
Data columns (total 12 columns):
Movie Title             1495 non-null object
Review                  1495 non-null object
Number of RT Reviews    1495 non-null int64
Year                    1495 non-null object
movie_ID                1495 non-null object
movie_title             1495 non-null object
year                    1495 non-null object
genres                  1495 non-null object
avg_rating              1495 non-null float64
numVotes                1495 non-null int64
directorID              1495 non-null object
director_name           1234 non-null object
dtypes: float64(1), int64(2), object(9)
memory usage: 151.8+ KB

In [70]:
top_movies1.duplicated(['Movie Title', 'Year']).sum()

386

In [31]:
imdb_ids = top_movies['movie_ID'].tolist()
imdb_ids[:-1]

['tt0120202',
 'tt0120630',
 'tt0276856',
 'tt0120679',
 'tt0120737',
 'tt0120903',
 'tt1219444',
 'tt0120917',
 'tt0353399',
 'tt0121766',
 'tt0462553',
 'tt0122459',
 'tt0126029',
 'tt0130623',
 'tt0279776',
 'tt0134847',
 'tt0138524',
 'tt0138946',
 'tt0139654',
 'tt0141926',
 'tt0144084',
 'tt0145487',
 'tt0316655',
 'tt0146309',
 'tt0146882',
 'tt0156812',
 'tt0160127',
 'tt0162222',
 'tt0162346',
 'tt0162650',
 'tt0167190',
 'tt0167260',
 'tt0387360',
 'tt0167261',
 'tt0347436',
 'tt0168629',
 'tt0168786',
 'tt0169102',
 'tt0170691',
 'tt0171359',
 'tt0243951',
 'tt0357719',
 'tt0171433',
 'tt0171580',
 'tt0172495',
 'tt0579742',
 'tt0594847',
 'tt0180073',
 'tt0180093',
 'tt0181536',
 'tt0594838',
 'tt0181689',
 'tt0347546',
 'tt0181865',
 'tt0181875',
 'tt0181984',
 'tt0183659',
 'tt0184894',
 'tt0185014',
 'tt0186151',
 'tt0186566',
 'tt0187393',
 'tt0594937',
 'tt0189998',
 'tt0190590',
 'tt0194218',
 'tt0629364',
 'tt0195234',
 'tt0195685',
 'tt0196216',
 'tt0198781',
 'tt0338261',
 'tt0199314',
 'tt0200465',
 'tt0200530',
 'tt0200720',
 'tt0203009',
 'tt0203119',
 'tt0204946',
 'tt0206314',
 'tt0206634',
 'tt0208874',
 'tt0209144',
 'tt0209557',
 'tt0210065',
 'tt0210075',
 'tt0210149',
 'tt0210945',
 'tt0211915',
 'tt0212338',
 'tt0212720',
 'tt0212974',
 'tt0215129',
 'tt0217505',
 'tt0217869',
 'tt0218378',
 'tt0218839',
 'tt0219699',
 'tt0520807',
 'tt0587971',
 'tt0670879',
 'tt0680124',
 'tt0220099',
 'tt0220100',
 'tt0227005',
 'tt0227445',
 'tt0227538',
 'tt0230600',
 'tt0234215',
 'tt0234853',
 'tt0235327',
 'tt0236216',
 'tt0236388',
 'tt0236784',
 'tt0237534',
 'tt0237572',
 'tt0238588',
 'tt0238924',
 'tt0240200',
 'tt0240772',
 'tt0241303',
 'tt0241527',
 'tt0304142',
 'tt0594851',
 'tt0242587',
 'tt0243017',
 'tt0243133',
 'tt0243155',
 'tt0243255',
 'tt0243585',
 'tt1064910',
 'tt0244316',
 'tt0246578',
 'tt0512166',
 'tt0247425',
 'tt0248845',
 'tt0249462',
 'tt0250323',
 'tt0250494',
 'tt0252299',
 'tt0252444',
 'tt0253474',
 'tt0255653',
 'tt0255819',
 'tt0256408',
 'tt0257044',
 'tt0257360',
 'tt0258000',
 'tt0258463',
 'tt0259446',
 'tt0262432',
 'tt0264464',
 'tt0594821',
 'tt0264472',
 'tt0265086',
 'tt0265212',
 'tt0265459',
 'tt0512176',
 'tt0265662',
 'tt0360993',
 'tt0266308',
 'tt0266391',
 'tt0266543',
 'tt0401422',
 'tt0268380',
 'tt0636133',
 'tt6423052',
 'tt0268690',
 'tt0268978',
 'tt0270259',
 'tt0272207',
 'tt0272338',
 'tt0273300',
 'tt0274309',
 'tt0274558',
 'tt0274812',
 'tt0275309',
 'tt0275491',
 'tt0275719',
 'tt0275847',
 'tt0335260',
 'tt0276437',
 'tt0287645',
 'tt0296823',
 'tt0276751',
 'tt0617867',
 'tt0278102',
 'tt0278504',
 'tt0278731',
 'tt0279113',
 'tt0279493',
 'tt0280477',
 'tt0280491',
 'tt0280707',
 'tt0280760',
 'tt0280778',
 'tt0282120',
 'tt0283422',
 'tt0283509',
 'tt0285861',
 'tt0286106',
 'tt0286179',
 'tt0286244',
 'tt0286261',
 'tt0287467',
 'tt0290334',
 'tt0594963',
 'tt0291003',
 'tt0292963',
 'tt0294446',
 'tt0295284',
 'tt0295297',
 'tt0304140',
 'tt0594852',
 'tt0296166',
 'tt0297144',
 'tt0298148',
 'tt0410595',
 'tt0298203',
 'tt0299117',
 'tt0299478',
 'tt0299658',
 'tt0758594',
 'tt0300015',
 'tt0300214',
 'tt0303353',
 'tt0303356',
 'tt0303714',
 'tt0303933',
 'tt0304141',
 'tt0414084',
 'tt0305206',
 'tt0306597',
 'tt0307987',
 'tt0308508',
 'tt0308644',
 'tt0309912',
 'tt0310281',
 'tt0310793',
 'tt0311113',
 'tt0311289',
 'tt0311519',
 'tt0311648',
 'tt0314725',
 'tt0315733',
 'tt0315983',
 'tt0316356',
 'tt0316396',
 'tt0316654',
 'tt0411906',
 'tt0594909',
 'tt0317219',
 'tt0814044',
 'tt0317705',
 'tt0433576',
 'tt0317910',
 'tt0318034',
 'tt0318374',
 'tt0512186',
 'tt0318462',
 'tt0319061',
 'tt0319343',
 'tt0322330',
 'tt0323944',
 'tt0324133',
 'tt0325805',
 'tt0325980',
 'tt0326306',
 'tt0327056',
 'tt0327084',
 'tt0476579',
 'tt0327597',
 'tt1401106',
 'tt1799661',
 'tt0327920',
 'tt0328538',
 'tt0328962',
 'tt0329575',
 'tt0372513',
 'tt0330373',
 'tt0764644',
 'tt0332379',
 'tt0333766',
 'tt0512169',
 'tt0334405',
 'tt0337909',
 'tt0337978',
 'tt0338512',
 'tt0338751',
 'tt0602023',
 'tt0340012',
 'tt0340377',
 'tt0342150',
 'tt0342172',
 'tt0343121',
 'tt0343168',
 'tt0344510',
 'tt0348150',
 'tt0772202',
 'tt0349825',
 'tt0350258',
 'tt0420111',
 'tt0352248',
 'tt0594827',
 'tt0353969',
 'tt0354575',
 'tt0357680',
 'tt0358273',
 'tt0594956',
 'tt0360717',
 'tt0594864',
 'tt0361127',
 'tt0361596',
 'tt0361715',
 'tt0361748',
 'tt0361862',
 'tt0362269',
 'tt0363547',
 'tt0365190',
 'tt0365376',
 'tt0365737',
 'tt0594916',
 'tt0365748',
 'tt0365885',
 'tt0366548',
 'tt0893106',
 'tt1038027',
 'tt0366551',
 'tt0367089',
 'tt0367594',
 'tt0472063',
 'tt0594824',
 'tt0367790',
 'tt0367882',
 'tt1799670',
 'tt0368008',
 'tt0369339',
 'tt0594829',
 'tt0371746',
 'tt1233205',
 'tt0372183',
 'tt0372279',
 'tt0372588',
 'tt0372784',
 'tt0450392',
 'tt0373889',
 'tt0944836',
 'tt0375063',
 'tt0375679',
 'tt0613234',
 'tt0718991',
 'tt0801505',
 'tt0377091',
 'tt0377092',
 'tt0565309',
 'tt0379357',
 'tt0379725',
 'tt0379786',
 'tt0381061',
 'tt0381429',
 'tt0381681',
 'tt0381849',
 'tt0382189',
 'tt0382932',
 'tt1230569',
 'tt0383694',
 'tt0385004',
 'tt0385267',
 'tt0386032',
 'tt0386064',
 'tt0386117',
 'tt1383797',
 'tt1524591',
 'tt1800443',
 'tt2245526',
 'tt4022510',
 'tt0386342',
 'tt0453317',
 'tt0456048',
 'tt0387131',
 'tt0387412',
 'tt7584774',
 'tt0387898',
 'tt0388125',
 'tt0388473',
 'tt0388795',
 'tt0388888',
 'tt0389326',
 'tt0390022',
 'tt0594842',
 'tt0390221',
 'tt0390299',
 'tt0884842',
 'tt0390521',
 'tt0391024',
 'tt0395169',
 'tt0396269',
 'tt0475372',
 'tt0396705',
 'tt0397892',
 'tt0398286',
 'tt1634563',
 'tt1706697',
 'tt0398808',
 'tt0399146',
 'tt0594802',
 'tt0401383',
 'tt0401792',
 'tt0401997',
 'tt0403508',
 'tt0404203',
 'tt0405094',
 'tt0405159',
 'tt0405422',
 'tt0407121',
 'tt0407263',
 'tt0407304',
 'tt0449040',
 'tt0407887',
 'tt0408236',
 'tt0408306',
 'tt0410097',
 'tt0410730',
 'tt0412019',
 'tt0412080',
 'tt0413845',
 'tt1016268',
 'tt0413895',
 'tt0415978',
 'tt0416236',
 'tt1086795',
 'tt0416320',
 'tt0495621',
 'tt0416991',
 'tt0417415',
 'tt0417741',
 'tt1395738',
 'tt0418038',
 'tt0418753',
 'tt0418773',
 'tt0418819',
 'tt0420087',
 'tt0420286',
 'tt0420901',
 'tt0421082',
 'tt1008278',
 'tt0421238',
 'tt0421239',
 'tt0448707',
 'tt0421715',
 'tt3011584',
 'tt0423866',
 'tt0425112',
 'tt0427312',
 'tt0427327',
 'tt0427470',
 'tt0428803',
 'tt0430922',
 'tt1169960',
 'tt0432283',
 'tt0433416',
 'tt0434706',
 'tt0435761',
 'tt1799686',
 'tt1897358',
 'tt0436039',
 'tt0436078',
 'tt0436095',
 'tt0436613',
 'tt0475308',
 'tt0436629',
 'tt0436689',
 'tt0436697',
 'tt0436724',
 'tt0436727',
 'tt0475924',
 'tt0437232',
 'tt0437800',
 'tt0438205',
 'tt0439815',
 'tt0629576',
 'tt0440963',
 'tt1048524',
 'tt0441773',
 'tt1191122',
 'tt1318457',
 'tt1799673',
 'tt0441909',
 'tt0887791',
 'tt0443272',
 'tt0443453',
 'tt0443455',
 'tt0443489',
 'tt0443706',
 'tt0445620',
 'tt0445953',
 'tt0446029',
 'tt0446345',
 'tt0448694',
 'tt1779550',
 'tt0449059',
 'tt0450385',
 'tt0451176',
 'tt0451279',
 'tt6950308',
 'tt6974246',
 'tt7248862',
 'tt7396054',
 'tt0452623',
 'tt0454848',
 'tt0454876',
 'tt0455590',
 'tt0456004',
 'tt0457308',
 'tt0457430',
 'tt0458339',
 'tt7084552',
 'tt0458352',
 'tt0460766',
 'tt0461770',
 'tt0462322',
 'tt0462538',
 'tt0464141',
 'tt0465538',
 'tt0465551',
 'tt0467406',
 'tt0468489',
 'tt0468526',
 'tt0468569',
 'tt1260430',
 'tt1774602',
 'tt0469494',
 'tt0472062',
 'tt1136278',
 'tt0473308',
 'tt0473692',
 'tt0473705',
 'tt0475169',
 'tt0475276',
 'tt0823076',
 'tt0890763',
 'tt0475290',
 'tt0477078',
 'tt0477080',
 'tt2265960',
 'tt0477095',
 'tt0477348',
 'tt0478049',
 'tt0478166',
 'tt0478304',
 'tt7084498',
 'tt0478311',
 'tt0478970',
 'tt3344946',
 'tt4858902',
 'tt4888180',
 'tt5257390',
 'tt5289942',
 'tt5898580',
 'tt0479143',
 'tt0479547',
 'tt0482088',
 'tt0769491',
 'tt0482571',
 'tt0483812',
 'tt0486259',
 'tt0486358',
 'tt0487273',
 'tt0489037',
 'tt0489247',
 'tt0489327',
 'tt0884220',
 'tt0492466',
 'tt0492506',
 'tt0493459',
 'tt0493464',
 'tt0497116',
 'tt0497465',
 'tt0498329',
 'tt0498380',
 'tt0499537',
 'tt0774754',
 'tt0774755',
 'tt0798780',
 'tt0499549',
 'tt1799656',
 'tt0512183',
 'tt0578120',
 'tt0594949',
 'tt0594957',
 'tt0910971',
 'tt1206584',
 'tt0618192',
 'tt0645856',
 'tt0629565',
 'tt0758758',
 'tt0758784',
 'tt0762117',
 'tt0801657',
 'tt0765429',
 'tt1262257',
 'tt0765443',
 'tt0775529',
 'tt0775543',
 'tt0775566',
 'tt0780504',
 'tt2072950',
 'tt0780521',
 'tt1799682',
 'tt5313896',
 'tt0780536',
 'tt0783233',
 'tt0790636',
 'tt0790712',
 'tt0796366',
 'tt1799677',
 'tt0796368',
 'tt0941650',
 'tt0799555',
 'tt0799679',
 'tt0814075',
 'tt0799915',
 'tt0800039',
 'tt0800080',
 'tt1221815',
 'tt1260432',
 'tt0800099',
 'tt0800241',
 'tt0800308',
 'tt0800369',
 'tt1926440',
 'tt2242829',
 'tt0805564',
 'tt0808417',
 'tt0810784',
 'tt0813547',
 'tt0814666',
 'tt0827517',
 'tt0829459',
 'tt0829482',
 'tt0830515',
 'tt1139644',
 'tt0832266',
 'tt0840361',
 'tt0841044',
 'tt0841084',
 'tt0842926',
 'tt0846308',
 'tt0851578',
 'tt0854678',
 'tt0865297',
 'tt0870111',
 'tt0878835',
 'tt0887883',
 'tt1309165',
 'tt1799659',
 'tt0889652',
 'tt0892375',
 'tt0892769',
 'tt1621265',
 'tt1621800',
 'tt1799668',
 'tt3022078',
 'tt0893356',
 'tt0893382',
 'tt0896866',
 'tt0907657',
 'tt0912580',
 'tt0912583',
 'tt0912592',
 'tt0912593',
 'tt0912599',
 'tt0913425',
 'tt0918927',
 'tt1351130',
 'tt0923600',
 'tt0923752',
 'tt0925248',
 'tt0935075',
 'tt0942385',
 'tt1262280',
 'tt0945513',
 'tt0947798',
 'tt0952682',
 'tt0962736',
 'tt0963807',
 'tt0964517',
 'tt0969307',
 'tt0970179',
 'tt0970468',
 'tt0974554',
 'tt0976060',
 'tt0976222',
 'tt0977855',
 'tt0978759',
 'tt0978762',
 'tt0981227',
 'tt0986233',
 'tt0990413',
 'tt0993846',
 'tt3395630',
 'tt0995039',
 'tt1613084',
 'tt0995829',
 'tt0996966',
 'tt1010048',
 'tt1013753',
 'tt1163568',
 'tt1284591',
 'tt1362100',
 'tt1627079',
 'tt1019452',
 'tt1020876',
 'tt1022603',
 'tt1024648',
 'tt1032846',
 'tt1032856',
 'tt1033575',
 'tt1034427',
 'tt1059774',
 'tt1045658',
 'tt1045670',
 'tt1047007',
 'tt1049413',
 'tt1485814',
 'tt1799688',
 'tt1057500',
 'tt1060277',
 'tt1644155',
 'tt1708785',
 'tt1065073',
 'tt3377464',
 'tt3645948',
 'tt1068646',
 'tt1068649',
 'tt1073241',
 'tt1510314',
 'tt1653915',
 'tt1074638',
 'tt2516988',
 'tt1078188',
 'tt1084950',
 'tt1091722',
 'tt1093824',
 'tt1093842',
 'tt1095217',
 'tt1097643',
 'tt1100089',
 'tt1103275',
 'tt1114277',
 'tt1119646',
 'tt1120985',
 'tt1122599',
 'tt1124035',
 'tt1125849',
 'tt1127180',
 'tt1127715',
 'tt1130080',
 'tt1132620',
 'tt1135503',
 'tt1136608',
 'tt1799663',
 'tt1139328',
 'tt1139797',
 'tt1142977',
 'tt1149405',
 'tt1149583',
 'tt1152758',
 'tt1152850',
 'tt1153690',
 'tt1155056',
 'tt1456687',
 'tt1155592',
 'tt1156398',
 'tt1799692',
 'tt1157705',
 'tt1172233',
 'tt1172994',
 'tt1174732',
 'tt1179933',
 'tt1182345',
 'tt1183919',
 'tt1185616',
 'tt1186369',
 'tt1187064',
 'tt1360689',
 'tt1189073',
 'tt1189340',
 'tt1190536',
 'tt1190858',
 'tt1192628',
 'tt1842449',
 'tt1857994',
 'tt1193138',
 'tt1401642',
 'tt1204342',
 'tt2121422',
 'tt1210166',
 'tt1211837',
 'tt5899822',
 'tt6225304',
 'tt1211890',
 'tt1213585',
 'tt1213641',
 'tt9083806',
 'tt9103204',
 'tt1213663',
 'tt1217209',
 'tt3575508',
 'tt5289650',
 'tt1224366',
 'tt1226271',
 'tt1226774',
 'tt1228705',
 'tt1371159',
 'tt1805722',
 'tt1228953',
 'tt1228987',
 'tt1229822',
 'tt1232207',
 'tt1232829',
 'tt1233334',
 'tt1234654',
 'tt1242503',
 'tt1245492',
 'tt1249414',
 'tt1250777',
 'tt1262981',
 'tt1263670',
 'tt1266072',
 'tt1268204',
 'tt1270798',
 'tt1951704',
 'tt2015544',
 'tt1276104',
 'tt1276419',
 'tt1280011',
 'tt1282140',
 'tt1285016',
 'tt1799683',
 'tt1291580',
 'tt1291584',
 'tt1300854',
 'tt2901620',
 'tt3195038',
 'tt5316554',
 'tt1302011',
 'tt1937212',
 'tt1306980',
 'tt1309975',
 'tt1313092',
 'tt1313104',
 'tt1315981',
 'tt1318514',
 'tt1319744',
 'tt1321865',
 'tt1323594',
 'tt1822208',
 'tt1326204',
 'tt1327709',
 'tt1336617',
 'tt1331025',
 'tt1334510',
 'tt1334537',
 'tt1340800',
 'tt1341167',
 'tt1345836',
 'tt2290142',
 'tt2290146',
 'tt3976222',
 'tt1356790',
 'tt1365050',
 'tt1371155',
 'tt1372686',
 'tt1375666',
 'tt1695201',
 'tt1799669',
 'tt1386588',
 'tt1391092',
 'tt1392170',
 'tt2324161',
 'tt1392190',
 'tt4692522',
 'tt4955856',
 'tt4969926',
 'tt1392214',
 'tt1396484',
 'tt7311448',
 'tt7337052',
 'tt7512510',
 'tt1398426',
 'tt1399683',
 'tt1401143',
 'tt1403865',
 'tt1408101',
 'tt2931424',
 'tt2939008',
 'tt3148152',
 'tt1415283',
 'tt1430607',
 'tt1430626',
 'tt1431045',
 'tt5464160',
 'tt5709996',
 'tt1431181',
 'tt1440266',
 'tt1441326',
 'tt1449283',
 'tt6403116',
 'tt1454468',
 'tt3250084',
 'tt4430410',
 'tt1457767',
 'tt1462758',
 'tt1589807',
 'tt1707663',
 'tt1726317',
 'tt1477837',
 'tt1478338',
 'tt1478964',
 'tt1494667',
 'tt1503769',
 'tt1504320',
 'tt1785173',
 'tt1508675',
 'tt1517252',
 'tt1517451',
 'tt1530983',
 'tt1535109',
 'tt1540133',
 'tt1542344',
 'tt1554091',
 'tt2027265',
 'tt1559549',
 'tt1560747',
 'tt1568334',
 'tt1568346',
 'tt1568923',
 'tt1570989',
 'tt1571249',
 'tt1572769',
 'tt1579361',
 'tt1584016',
 'tt1588173',
 'tt1588875',
 'tt1591778',
 'tt1592527',
 'tt1596363',
 'tt1598778',
 'tt1600196',
 'tt4105190',
 'tt1602620',
 'tt1605717',
 'tt3697726',
 'tt3753904',
 'tt1605783',
 'tt7084500',
 'tt1606259',
 'tt1606392',
 'tt1615147',
 'tt1619029',
 'tt1623288',
 'tt1625346',
 'tt1638362',
 'tt1645089',
 'tt1646971',
 'tt3800296',
 'tt3802884',
 'tt1649419',
 'tt1650062',
 'tt1792693',
 'tt6829620',
 'tt1653827',
 'tt1655420',
 'tt1655442',
 'tt1825978',
 'tt1959547',
 'tt1659337',
 'tt1661199',
 'tt1675192',
 'tt1684226',
 'tt1684628',
 'tt1687281',
 'tt1706593',
 'tt1714206',
 'tt1714210',
 'tt1791679',
 'tt1714917',
 'tt1723811',
 'tt2059013',
 'tt1727388',
 'tt1748122',
 'tt1753549',
 'tt1753813',
 'tt1764183',
 'tt1785612',
 'tt1787660',
 'tt1787837',
 'tt1798709',
 'tt1800241',
 ...]